/*
 Theme Name:   TravelMaster Child Theme   
 Description:  A Travel Master Theme
 Author:       Clive Tonna  
 Template:     travel-master
 Version:      1.0.0
*/
 
@import url("../travel-master/style.css");

/*1. Resizing of the logo (the half Maltese cross image)*/
.site-logo img 
{
    max-height: 70px;
}

/*2. Fixing the slide dots to a higher position*/
.slick-dots 
{
    bottom: 45px;
}

/*3. Giving the "Discover More" button an opacity so that it will not receive too much importance*/
.featured-slider .btn 
{
    opacity: 0.8;
}

/*4. Hiding the default theme information found in the footer*/
.site-info.col-2 span:nth-child(2) 
{
    color: #242526;
}

/*5. Decreased the Main Menu's top padding so that it matches the middle text of the website's logo*/
.main-navigation ul.nav-menu > li > a 
{
    padding-top: 28px;
}

/*6. Decreased the Social Menu's top padding so it matches that of the Main Menu*/
.main-navigation ul.nav-menu > li.social-menu 
{
    padding-top: 22px;
}

/*7. Aligning every Submenu's item to the centre*/
.main-navigation ul.sub-menu li a 
{
    text-align: center;
}

/*8. Removing the Submenu's extra length by removing the padding*/
@media screen and (min-width: 1024px)
.main-navigation ul ul li 
{
    padding-left: 0px;
    padding-right: 0px;
}

/*9. Resizing the length of the submenu's background*/
.main-navigation ul ul a 
{
    width: 100px;
}

/*10. Resizing the online chat icon to make it the same size as the back to top icon*/
#wp-live-chat-header 
{
    width: 45px;
    height: 45px
}